{% extends 'base.html.twig' %}

{% block body %}
        <tbody>
    <table class="table table-hover table-bordered">

    <tr>
            {% for i in sections %}
                <td><a href="{{ path("sections",{'id':i.id}) }}"> {{ i.thetitle }} </a></td>
            {% endfor %}
    </tr>

        <h1>Articles</h1>
    </table>
    {% for n in thenews %}

                <h3>{{ n.thetitle }}</h3>
                <p>{{ n.theText }}</p>
                <p>{{ n.theDate|date('Y-m-d H:i:s') }} par {{ n.fosUser.username }}</p>
                <hr>
        {% endfor %}
         
        </tbody>


{% endblock %}
