{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{ sectiontitle }} </h1>
    
        <tbody>
    <table>
        <tr>
            <th>Sections</th>
        </tr>
        <tr>
            {% for i in sections %}
            <td><a href="{{ path("sections",{'id':i.id}) }}"> {{ i.thetitle }} </a> / </td>
            {% endfor %}
        </tr>
    </table>
    {% for n in thenews %}

                <h3>{{ n.thetitle }}</h3>
                <p>{{ n.theText }}</p>
                <p>{{ n.theDate|date('Y-m-d H:i:s') }} par {{ n.fosUser.username }}</p>

        {% endfor %}
        
        </tbody>


{% endblock %}
